<!DOCTYPE html>

<head>
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>

    <div class="main-content">
{{>header}} 
    <p>Created by {{description}}</p>
   

    </div>
    {{>footer}}

</body>

</html>